@model IEnumerable<GerenciamentoTarefas.Models.Tarefa>

@{
    ViewData["Title"] = "Lista de Tarefas";
}

<div class="tarefa-index">

    <h1>@ViewData["Title"]</h1>
    <hr />

    <div class="criar">
        <a href="@Url.Action("Criar")" class="btn btn-primary">Criar Tarefa</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Data de Conclusão</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tarefa in Model)
            {
                <tr>
                    <td>@tarefa.Nome</td>
                    <td>@tarefa.Descricao</td>
                    <td>@tarefa.DataConclusao.ToString("dd/MM/yyyy")</td>
                    <td>@tarefa.Status</td>
                    <td>
                        <div class="acoes">
                            <div>
                                <a href="@Url.Action("Editar", new { id = tarefa.Id })" class="btn btn-primary">Editar</a>
                            </div>
                            <div>
                                <form asp-action="Excluir" asp-route-id="@tarefa.Id" method="post">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-danger">Excluir</button>
                                </form>
                            </div>
                        </div>
                       
               
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
